{% extends "lecturer/users/root.html" %}

{% import 'macros.html' as macros %}

{% block title %}lecturer{% endblock %}

{% block content %}

    {% set columns = ["Email", "Apellidos", "Nombre"] %}

    {% set buttons = [{
        'name': 'Importar alumnos',
        'form_action': '/route1',
        'form_class': 'kt_modal_form',
        'form_id': 'kt_modal_add_customer_form',
        'is_multipart': True,
        'header_title': 'Importar alumnos al sistema',
        'form_body': '''
            <div class="fv-row mb-7">
                <label class="required fs-6 fw-semibold mb-2">Name</label>
                <input type="text" class="form-control form-control-solid" placeholder="" name="name" value="Sean Bean"/>
            </div>
        '''
    },
    ] %}

    {% set menu_routes = {
        "view": 'student.view',
        "edit": "student.edit",
        "delete": "student.delete",
        "delete_bulk": "student.delete_bulk"
        }
    %}

    {{ macros.render_table(columns, data_collection, buttons, menu_routes) }}


{% endblock %}

